*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Nav ***/

.navbar-brand {
    font-size: 2rem;
    color: #000;
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover {
    color: #000;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: #000;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #000;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(44, 235, 193);
}

.btn-search {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(44, 235, 193);
    color: #fff;
    border-radius: 60px;
    font-weight: 700;
}

/*** Fin Nav ***/

/*** Main ***/

.main {
    background: url("../img/bg.jpg")no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.btn-main {
    height: 45px;
    width: 40%;
    border: none;
    outline: none;
    background-color: rgb(44, 235, 193);
    color: #fff;
    border-radius: 60px;
    font-weight: 700;
}

.btn-main:hover {
    background-color: rgb(47, 201, 167);
    transition: 0.5s;
}

/*** Fin Main ***/

/*** Product ***/

.card:hover {
    box-shadow: -2px -1px 25px -4px rgba(173, 173, 173, 0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(173, 173, 173, 0.75);
    -moz-box-shadow:-2px -1px 25px -4px rgba(173, 173, 173, 0.75);
    transition: 0.5s;
}

/*** Fin Product ***/

/*** hero ***/

.hero {
    background: linear-gradient(rgba(153, 152, 152, 0.2), rgba(61, 57, 57, 0.2)), url("../img/hero.jpg")no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: 30% 40%;
}

.hero p {
    font-size: 14px;
}

.hero img {
    background-color: rgba(47, 20, 145, 0.185);
    border-radius: 50px;
    padding: 2.5rem;
}

/*** Fin hero ***/

/*** footer ***/

.newsletter {
    background-color: #000;
    color: #fff;
}

.btn-footer {
    height: 45px;
    width: 100px;
    background-color: #fff;
    margin-left: -10px;
    border: 2px solid #fff;
    font-weight: 600;
    border-radius: 60px;
}

.newsletter input {
    height: 45px;
    width: 55%;
    border: 2px solid #fff;
    outline: none;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    margin-right: -35px;
    font-weight: 600;
    border-radius: 60px;
}

.newsletter p {
    margin: 0;
}

.fab {
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}